       #video {
           widows: 500px;
           height: 300px;
       }

       .ccc-video {
           position: fixed;
           width: 100%;
           top: 0;
           left: 0;
           height: 100%;
           z-index: 100;
       }

       button {
           color: #409eff;
           background: #fff;
           border: 1px solid #a7ddf8;
           border-radius: 4px;
           padding: 5px;
           white-space: nowrap;
           display: inline-block;
           line-height: 1;
           font-size: 13px;
           cursor: pointer;
       }

       .ccc-btn:hover {
           border: 1px solid #007df9;
           box-shadow: inset 0 0 3px 1px #bad1e8;
       }

       .ccc-btn:active {
           border: 1px solid #007df9;
           box-shadow: inset 0 0 3px 1px #007df9;
       }

       .active-btn {
           background: #409eff;
           color: #ecf5ff;
       }