       #video {
           widows: 500px;
           height: 300px;
       }

       .ccc-video {
           position: fixed;
           width: 100%;
           top: 0;
           left: 0;
           height: 100%;
           z-index: 100;
       }

       button {
           color: #409eff;
           background: #ecf5ff;
           border: 1px solid #b3d8ff;
           border-radius: 4px;
           padding: 5px;
           white-space: nowrap;
           display: inline-block;
           line-height: 1;
           font-size: 13px;
       }